<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.udbac.dao.AdMonitorModelDao">

	<!-- 后端数据入库 -->
	<insert id="insertTimedata" parameterType="java.util.List"
		flushCache="true">
		<foreach collection="list" item="item" index="index">
			insert into tb_amp_sum_back_d_tmp (daytime,mic,clk,vv,uv,pv,time_spent,bounce_times)
			values
			(	
				#{item.daytime},#{item.mic},#{item.clk},#{item.vv},#{item.uv},#{item.pv},#{item.time_spent},#{item.bounce_times}
			);
		</foreach>
	</insert>
	
	<select id="summaryData" parameterType="String" resultType="String">
		select summary_after_data();
	</select>


	<select id="checkMic" parameterType="String" resultType="String">
	SELECT mic 
	FROM tb_amp_basic_schedule_info 
	WHERE 
	upper(mic)=#{mic} or lower(mic)=#{mic} or mic=#{mic}
	</select>
</mapper>  