<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.udbac.dao.CustomerDao">
    
    <select id="selectAll" resultType="com.udbac.entity.TbAmpBasicCustomerInfo">
        SELECT 
        	customer_Id customerId,
        	customer_Name customerName,
        	special_Customer specialCustomer,
        	customer_Code customerCode
        FROM 
	        tb_amp_basic_customer_info
    </select>
</mapper>