<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.udbac.dao.ScheduleCalendarDao">
    
    <resultMap id="scheduleCalendarMap" type="com.udbac.entity.TbAmpBasicSchedulCalendarInfo" >
        <id column="mic" property="mic"/>
        <result column="put_Date" property="putDate"/>
        <result column="put_Value" property="putValue"/>
        <result column="memo" property="memo"/>
        <result column="click_File" property="clickFile"/>
        <result column="exposure_File" property="exposureFile"/>
        <result column="after_File" property="afterFile"/>
    </resultMap>
    
    <select id="findScheduleCalendarBymic" resultMap="scheduleCalendarMap">
        SELECT 
        	mic,
        	put_date,
        	put_value,
        	memo,
        	click_file,
        	exposure_file,
        	after_file
        FROM 
	        tb_amp_basic_schedule_calendar_info
	    WHERE
	    	mic = #{mic}
	    ORDER BY 
	    	put_date
    </select>
    
    <insert id="insertCalendar">
        <foreach collection="calendars" index="i" item="calendar">
	        INSERT INTO 
	        	tb_amp_basic_schedule_calendar_info(mic,put_date,put_value,online_state,now_state_id)
	        VALUES(
	        	#{calendar.mic},
	        	#{calendar.putDate},
	        	#{calendar.putValue}::integer,
	        	-1,
	        	-1
	        );
    	</foreach>   
	</insert>
    
    <delete id="deleteCalendars">
        DELETE FROM
         	tb_amp_basic_schedule_calendar_info
        WHERE 
        	mic in(
    		<foreach collection="schedules" item="sche" index="i" separator=",">    
				#{sche.mic}        
       	 	</foreach>
        	)
    </delete>
    
    <select id="findByActCode" resultMap="modelCalendarMap">
		SELECT
			sched.mic,min_date,max_date,schedule_path
		FROM
			tb_amp_basic_schedule_info sched,
			tb_amp_basic_activity_info act,
			(
				select min(put_date) min_date,max(put_date) max_date
				from tb_amp_basic_schedule_calendar_info calendar,
					tb_amp_basic_schedule_info sched
				where sched.mic = calendar.mic
				and sched.activity_code = #{actCode}
			)AS min_max
		WHERE
			sched.activity_code = #{actCode}
		AND	act.activity_code = sched.activity_code
    </select>
    
    <resultMap type="com.udbac.model.RefreshCalendarModel" id="modelCalendarMap">
        <result column="mic" property="mic"/>
        <result column="min_date" property="minDate"/>
        <result column="max_date" property="maxDate"/>
        <result column="schedule_path" property="schedulePath"/>
        <collection property="calendars" column="mic" select="findScheduleCalendarBymic" />
    </resultMap>
    
    <!-- 更改排期时间，以便同步旧系统中 -->
    <update id="updateTime">
        UPDATE 
         	tb_amp_basic_schedule_info
        SET
        	url_update_time = now()
        WHERE 
        	mic in(
    		<foreach collection="schedules" item="sche" index="i" separator=",">    
				#{sche.mic}        
       	 	</foreach>
		);        	
    </update>
    
</mapper>