@charset "utf-8";

/*清除ie的默认选择框样式清除，隐藏下拉箭头*/
select::-ms-expand { display: none; }

/*监测方案   by   zxy*/
/*活动状态列表lable样式*/
#home label {
	display: inline;
	width: 145px;
	color: #efefef;
	font: 100%/20px "微软雅黑";
	/* text-shadow: 0px 0px 20px rgba(127,255,255,1); */
}

/*活动状态列表类型下拉框样式*/
#type_id {
	width: 10em;
	height: 26px;
	padding-left: 5px;
	border-radius: 5px;
	margin: 2px;
	border: 1px solid rgba(127,255,255,0.55);
	background-color: rgba(0,93,93,0.8);
	color: #efefef;
	/* text-shadow: 0px 0px 20px rgba(127,255,255,1); */
}
/*活动状态列表查询返回按钮样式*/
.con-title{
	display:inline-block;
	padding-left: 30px;
	min-width:915px;
}

/*新增活动备注ul样式*/
#formId ul {
	width:80%;
	margin:2em auto;
	box-shadow: 0px 0px 10px rgba(0,255,255,0.75);
	-webkit-box-shadow: 0px 0px 8px rgba(0,255,255,0.75);
	-moz-box-shadow: 0px 0px 8px rgba(0,255,255,0.75);
	color:#efefef;
	/* text-shadow: 0px 0px 20px rgba(127,255,255,1); */
}


#formId ul li input,
#formId ul li select,
#formId ul li textarea,
#formId ul li #box{
	background-color: rgba(0,93,93,0.8);
	border: 1px solid rgba(127,255,255,0.75);
	color:#efefef;
	box-shadow: 0px 0px 10px rgba(0,255,255,0.75);
	-webkit-box-shadow: 0px 0px 8px rgba(0,255,255,0.75);
	-moz-box-shadow: 0px 0px 8px rgba(0,255,255,0.75);
}

#formId ul li select{
	width:8em;
	height:2em;
}

#formId ul li textarea{
	width:490px;
	height:130px;
}

#formId ul li:nth-child(2) span,
#formId ul li:nth-child(3) span,
#formId ul li:nth-child(4) span,
#formId ul li:nth-child(5) span{
	line-height:3em;
}


#formId ul li span{
	display:inline-block;
	width:9em;
}

/* “*号” 的样式 */
#formId ul li strong{
	font: 20px "微软雅黑", Arial, Helvetica, sans-serif;
	color:red;
	/* text-shadow: 0px 0px 20px rgba(127,255,255,1); */
}

/* /*最后一个li添加返回按钮的CSS */
#formId ul li:last-child{
	text-align:center;
}

#formId ul li:last-child input{
	 background: rgba(80, 243, 63, .3);
	 margin:15px auto;
}



/* CSS Document --监测方案 	 by linying */
.plan-table-input {
	width: 100%;
	height: 26px;
	padding-left: 3px;
	border-radius: 5px;
}

.plan-table-select {
	width: 5em;
	padding-top: .3em;
	height: 26px;
	margin: 0;
}


.parent_idf {
	display: none;
}



#exit_id{
	float: left;
	margin-left:315px;
	margin-top:-25px;
}
/* --监测方案  end	 by linying========================================================================*/

/**添加备注  start by linying=========================================================================**/

.todo-li{
	margin: 30px auto;
	padding: 20px;
	border-radius: 5px;
	line-height:23px;
	background: rgba(0,93,93,0.8);
	color: #efefef;
	/* text-shadow: 0px 0px 20px rgba(127,255,255,1); */
	border: 1px solid rgba(127,255,255,0.75);
	box-shadow: 0px 0px 10px rgba(0,255,255,0.75);
	-webkit-box-shadow: 0px 0px 8px rgba(0,255,255,0.75);
	-moz-box-shadow: 0px 0px 8px rgba(0,255,255,0.75);
}


/**用户名称 时间**/
.user-name{
	/* height: 23px;
	font-size: 15px; */
	font-weight: 700;
	/* line-height: 23px; */
}


/**用户截屏**/
.msgBox {
	overflow: hidden;
	margin-top: 10px;
	word-wrap: break-word;
	clear: both;
}
/**图片**/
.userPic {
	margin-top: 20px;
	height: 90px;
}
.msg-box{
	overflow: hidden;
    margin-right: 0;
    word-wrap: break-word;
    clear: both;
}
.msg-cont{
	/* display: block; */
	height:40px;
	/* font-size: 15px; */
    margin: 10px 0;
    clear: both;
}

#myTabContent .tab-pane ul li .msg-cont a{
	color: black;
}

#myTabContent .tab-pane ul li .msg-cont a:hover{
	color: red;
	text-decoration: none;
}

.msg-type{
	/* display: block; */
    font-size: 12px;
    color:#FF0000;
}
.scolor{
	font: 12px/20px "微软雅黑";
    text-align: center;
    width: 50px;
    height: 20px;
    float: left;
	color: #efefef;
}
.color1{
	background-color: rgba(80, 243, 63, .6);
	margin-right:15px;
}
/**添加备注  end by linying**/