/*监测方案页面下新增活动备注点击选择图片的div样式*/


.webuploader-container {
	position: relative;
}
.webuploader-element-invisible {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
	position: relative;
	width:9em;
	cursor: pointer;
	background-color: rgba(0,93,93,0.8);
	padding: 10px 15px;
	color: red;
	text-align: center;
	border-radius: 3px;
	overflow: hidden;
	margin:3em auto;
	border: 1px solid rgba(127,255,255,0.75);
}
.webuploader-pick-hover {
	background: #00a2d4;
}

.webuploader-pick-disable {
	opacity: 0.6;
	pointer-events:none;
}

